/* About Layout */
.main .about{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4rem 1fr;
	grid-template-areas: "text text"
	"paragraph img";
	min-width: 450px;
}
/* About sec. style */
.main .about h3{
	grid-area: text;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 4px;
	color: gold;
	font-size: 2rem;
	color: gold;
   border-bottom: 1px solid #fff;
}
.main .about p{
	grid-area: paragraph;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #fff;
	padding: 4rem;
}
.main .about img{
	grid-area: img;
	margin: auto;
	height: 100%;
	width: 100%;
	max-height: 400px;
	max-width: 300px;
}


/* media for about sec. */
@media (max-width: 720px){
	.main .about{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4rem 1fr 1fr;
	grid-template-areas: "text text"
	"img img"
	"paragraph paragraph";
}
	
}
