.certificate{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3rem 1fr;
	grid-template-areas: " text text" 
	"cer1 cer2"
	"cer3 cer4";
	background: url(../img/certificate-bg.jpg) no-repeat center center/cover;
	height: 100%;
	width: 100%;
	gap: 2rem;
	padding-bottom: 10rem;
}
.main .certificate h2{
	grid-area: text;
	color: gold;
	letter-spacing: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #fff;
	}
.main .certificate .cer1{
	grid-area: cer1;
}
.main .certificate .cer2{
	grid-area: cer2;
}
.main .certificate .cer3{
	grid-area: cer3;
}
.main .certificate .cer4{
	grid-area: cer4;
}
.main .certificate .cer1 img,
.main .certificate .cer2 img,
.main .certificate .cer3 img,
.main .certificate .cer4 img{
	height: 100%;
	width: 90%;
	max-height: 600px;
	max-width: 800px;
}
@media (max-width: 578px){
	.certificate{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3rem repeat(4, 1fr);
	grid-template-areas: "text" 
	"cer1"
	"cer2"
	"cer3"
	"cer4";
	}
}
