/* certificates sec. layout */
.main .certificates{
	height: 100%;
	width: 100%;
	/* background */
	background: rgb(0,0,0);
	background: -moz-radial-gradient(circle, rgba(0,0,0,1) 96%, rgba(255,215,0,1) 100%, rgba(255,215,0,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 96%, rgba(255,215,0,1) 100%, rgba(255,215,0,1) 100%);
	background: radial-gradient(circle, rgba(0,0,0,1) 96%, rgba(255,215,0,1) 100%, rgba(255,215,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffd700",GradientType=1);
}
.main .certificates-text{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 100%;
   border-bottom: 1px solid #fff;
}
.main .certificates-text h1{
	 font-size: 2rem;
	 letter-spacing: 4px;
	 color: gold;
    
}
.main .container .carousel-item img{
	height: 100%;
	width: 100%;
	max-height: 420px;
	max-width: 600px;
	margin: 5rem auto;
}
@media (max-width: 578px){
	.main .certificates-text h1{
	 font-size: 1.5rem;
	}
}
	

