/* projects sec. layout */
.main .projects{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4rem 1fr 1fr;
	grid-template-areas: "text text"
	"LandingPage JonrieClothing"
	"selfproject memestemplate";
	padding-bottom: 30rem;
	/* background */
	background: rgb(0,0,0);
	background: -moz-radial-gradient(circle, rgba(0,0,0,1) 96%, rgba(255,215,0,1) 100%, rgba(255,215,0,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 96%, rgba(255,215,0,1) 100%, rgba(255,215,0,1) 100%);
	background: radial-gradient(circle, rgba(0,0,0,1) 96%, rgba(255,215,0,1) 100%, rgba(255,215,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffd700",GradientType=1);
	grid-gap: 1rem;
}
/* projects sec. style */
.main .projects h2{
	letter-spacing: 4px;
	grid-area: text;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gold;
	border-bottom: 1px solid #fff;
	padding-bottom: 1rem;
}
.main .projects .LandingPage{
	grid-area: LandingPage;
	color: #fff;
}
.main .projects .JonrieClothing{
	grid-area: JonrieClothing;
	color: #fff;
}
.main .projects .self-project{
	grid-area: selfproject;
	color: #fff;
}
.main .projects .memes-template{
	grid-area: memestemplate;
	color: #fff;
}
.main .projects img{
	position: relative;
	width: 90%;
	height: 65%;
	max-height: 500px;
	max-width: 800px;
	transition: 600ms ease-in-out;
}

.main .projects p{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main .projects a{
	transition: 500ms ease-in-out;
	position: relative;
}

.main .projects span{
	color: gold;
}

/* image hover */
.main .projects img:hover{
	transform: scale(1.1);
}

/* media for projects sec. */
@media (max-width: 578px){
	.main .projects{

		grid-template-columns: 1fr;
		grid-template-rows: 4rem repeat(4, 1fr);
		grid-template-areas: "text"
		"LandingPage" 
		"JonrieClothing"
		"selfproject"
		"memestemplate";
		grid-gap: 3rem;
	}
	.main .projects h2{
		font-size: 1.2rem;
	}
}



