.main .projects{
	height: 100%;
	width: 100%;
	background: rgb(2,0,36);
background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(1,1,5,1) 79%, rgba(0,212,255,1) 93%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 3rem 1fr;
	grid-template-areas: "text text"
	"LandingPage JonrieClothing";
	padding-bottom: 30rem;
}
.main .projects h2{
	letter-spacing: 4px;
	grid-area: text;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gold;
	border-bottom: 1px solid #fff;
}
.main .projects .LandingPage{
	grid-area: LandingPage;
	color: #fff;
}
.main .projects .JonrieClothing{
	grid-area: JonrieClothing;
	color: #fff;
}
.main .projects img{
	position: relative;
	width: 90%;
	height: 65%;
	max-height: 500px;
	max-width: 800px;
	transition: 600ms ease-in-out;
}
.main .projects img:hover{
	transform: scale(1.1);
}
.main .projects p{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main .projects a{
	transition: 500ms ease-in-out;
	position: relative;
}

.main .projects span{
	color: gold;
}

/* Small Devices */
@media (max-width: 578px){
	.main .projects{

		grid-template-columns: 1fr;
		grid-template-rows: 3rem 1fr 1fr;
		grid-template-areas: "text"
		"LandingPage" 
		"JonrieClothing";
		grid-gap: 3rem;
	}
}



